#
# Display Configuration
#
CONFIG_DISPLAY_ENABLED=y
CONFIG_DISPLAY_DRIVER_SSD1306=y
CONFIG_DISPLAY_HEIGHT_64=y
CONFIG_DISPLAY_BUS_SPI=y
CONFIG_DISPLAY_SPI_CLK=14
CONFIG_DISPLAY_SPI_MOSI=13
CONFIG_DISPLAY_SPI_CS=5
CONFIG_DISPLAY_SPI_DC=12
CONFIG_DISPLAY_SPI_RST=26
CONFIG_DISPLAY_UPDATE_MS=500

# WM8711BL Config
CONFIG_DAC_WM8711BL=y
CONFIG_I2S_SCK_IO=0
CONFIG_DAC_I2C_SDA=19
CONFIG_DAC_I2C_SCL=18
